/* == HEADER == */
.site-header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-top: 12px solid $color-primary;

  @include atMedium {
    position: fixed;
    max-height: 172px;
    height: 100%;
    flex-direction: column;
    margin: 0 auto;
    /* padding-right: 1rem;
    padding-left: 1rem; */
    z-index: 100 !important;

  }


  & > .inner-wrapper {


    @include atMedium {
      background: $color-light-white;
      border-bottom: 1px solid $color-primary;
    }

  }


  &__container {


    @include atMedium {
      width: 78%;
      float: left;
    }

  }


  &__wrapper {
    width: 100%;
/*     height: 65px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: $color-light-white;

    @include atMedium {
      max-width: 1136px;
      position: relative;
      margin: 0 auto;
    }

  }

  & a {
    color: $color-secondary;
    @include style-text-link;
  }

  &__branding {
    margin-left: 1.5rem;

    @include atMedium {
      width: initial;
      width: 80%;
      margin-top: 2.0rem;
      margin-left: 0.0rem;
      margin-left: auto;
      margin-left: 0;
      margin-right: auto;
      z-index: 10;
    }
  }

  &__logo {
    position: relative;
    min-width: 60%;
    max-width: 70%;
    width: auto;
    height: auto;
    margin-top: 10px;
    margin-left: 0.5rem;
    mix-blend-mode: multiply;


    @include atMedium {
      position: relative;
      min-width: initial;
      max-width: 375px;
      width: auto;
      margin-top: 0rem;
      overflow: hidden;
      z-index: 100;
      /* min-width: 150px;
      min-height: 120px; */
    }
  }

  &__logo-img {
    width: 100%;
    height: auto;

    @include atMedium {
      display: none;
    }
  }

  &__logo-img--desktop {
    display: none;

    @include atMedium {
      position: relative;
      display: block;
      min-width: 105px;
      width: 100%;
      height: auto;
      margin: auto;
    }
  }



  .site-header__languages {
    position: absolute;
    top: 7.0rem;
    right: 0px;

    @include atMedium {
      position: absolute;
      top: 7.0rem;
      right: 24%;
    }

  }

  .site-header__languages-list {
    display: flex;
    list-style: none;
  }


  .site-header__languages-list-item a {
    color: $color-secondary;
  }


  .site-header__languages-list-item a:after {
    color: $color-gray;
    content: '|';
    padding-right: 1.0rem;
    padding-left: 1.0rem;
  }


  .site-header__languages-list-item:nth-child(3) a:after {
    content: '';
    padding-right: 0.0rem;
    margin-right: -1.0rem;
  }




/* == SIDEBAR == */

  &__navi-additional-area {
    display: none !important;


    @include atMedium {
      position: absolute;
      width: auto;
      display: flex !important;
      flex-wrap: wrap;
      flex-direction: column;
      align-items: flex-end;
      gap: 2.0rem;
      top: 15%;
      right: 0px;
      margin-right: 50px;
      z-index: 1;
    }
  }


  .donation__container {
    width: 18%;
    color: $color-light-white;
    text-align: center;
    background-color: $color-secondary;
    margin-right: 2.0rem;
    padding: 1.5rem 0.75rem;
    padding-top: 4.0rem;
    float: right;
  }

  .donation__btn {
    font-size: 2.0rem;
    line-height: 3.8rem;
    font-weight: 400;
    text-transform: uppercase;
    color: $color-light-white;
  }

  .donation__btn strong {
    font-size: 2.3rem;
    line-height: 3.8rem;
    font-weight: 800;
    color: $color-light-white;
  }


}
