/* == LARGE HERO */

.home .large-hero {
  position: relative;
  width: 100%;
  min-height: 250px;
  max-height: 730px;
  height: auto;
  margin: 0;
  overflow: hidden;

  @include atMedium {
    max-width: 1136px;
    width: 100%;
    position: relative;
    min-height: 700px;
    max-height: 720px;
    margin: 0 auto;
    top: 172px;
    z-index: 0;
    overflow: hidden;
  }
}

.large-hero__img {
  position: relative;
  display: block;
  width: 100%;
  height: auto;
  -o-object-fit: cover;
  object-fit: cover;
  object-position: center center;
}

.large-hero__img--desktop {
  display: none;

  @include atMedium {
    display: initial;
  }
}

.large-hero__img--smartphone {

  @include atMedium {
    display: none;
  }
}


.large-hero__text {
  position: absolute;
  top: 55%;
  width: 100%;
  margin: 0 auto;

  @include atMedium {

  }

}

.large-hero__text h1 {
  text-indent: -99999999px;
}


.large-hero__cta-container {
  width: 45%;
  color: $color-gray;
  text-align: center;
  background-color: rgba($color-white,0.85);
  margin: 0 auto;
  padding: 2.0rem 1.5rem;
}

.large-hero__cta-img {

}

.large-hero__cta-message {
  font-size: 2.0rem;
  line-height: 2.0rem;
  font-weight: 600;
  margin-top: 2.0rem;
}

.large-hero__cta-notice {
  font-size: 1.6rem;
  line-height: 1.6rem;
  font-weight: 400;
}