/* == BUTTONS == */
.btn,
.btn:link,
.btn:visited {
  position: relative;
  display: inline-block;
  font-family: "Albert Sans", sans-serif;
  font-weight: 400;
  font-size: 2.2rem;
  line-height: 2.4rem;
  color: $color-white;
  text-transform: uppercase;
  background-color: $color-secondary;
  border: 0px solid;
  border-radius: 0;
  text-decoration: none;
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding: 0.75rem 1.5rem;

  @include atMedium {
    font-size: 2.4rem;
    line-height: 2.6rem;
  }
}

.btn--white,
.btn--white:link,
.btn--white:visited {
  color: white;
}


.btn--higher,
.btn--v:link,
.btn--higher:visited {
  top: -10.0rem;
}


/* .button--load-more {
  position: relative !important;
  display: inline-block !important;
  width: auto !important;
  margin: 0.25rem 0;
  margin-bottom: 2rem;
  padding: 0.75rem 1rem;

  @include atMedium {
    position: relative;
  }
} */


