/* == COLORS == */
$color-primary: #0A3F93;
$color-secondary: #E6087E;

$color-yellow: #FDCE01;
$color-gray: #707070;
$color-light-gray: #E0E0E0;

$color-white: #eaeaea;
$color-light-white: #FFFFFF;

$color-black: #000000;