/* == TYPOGRAPHY SETTINGS == */

/* -- Font Imports -- */

/* albert-sans-100 - latin_latin-ext */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Albert Sans';
  font-style: normal;
  font-weight: 100;
  src: url('../../fonts/albert-sans/albert-sans-v1-latin_latin-ext-100.eot'); /* IE9 Compat Modes */
  src: url('../../fonts/albert-sans/albert-sans-v1-latin_latin-ext-100.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../../fonts/albert-sans/albert-sans-v1-latin_latin-ext-100.woff2') format('woff2'), /* Super Modern Browsers */
       url('../../fonts/albert-sans/albert-sans-v1-latin_latin-ext-100.woff') format('woff'), /* Modern Browsers */
       url('../../fonts/albert-sans/albert-sans-v1-latin_latin-ext-100.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../../fonts/albert-sans/albert-sans-v1-latin_latin-ext-100.svg#AlbertSans') format('svg'); /* Legacy iOS */
}
/* albert-sans-regular - latin_latin-ext */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Albert Sans';
  font-style: normal;
  font-weight: 400;
  src: url('../../fonts/albert-sans/albert-sans-v1-latin_latin-ext-regular.eot'); /* IE9 Compat Modes */
  src: url('../../fonts/albert-sans/albert-sans-v1-latin_latin-ext-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../../fonts/albert-sans/albert-sans-v1-latin_latin-ext-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../../fonts/albert-sans/albert-sans-v1-latin_latin-ext-regular.woff') format('woff'), /* Modern Browsers */
       url('../../fonts/albert-sans/albert-sans-v1-latin_latin-ext-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../../fonts/albert-sans/albert-sans-v1-latin_latin-ext-regular.svg#AlbertSans') format('svg'); /* Legacy iOS */
}
/* albert-sans-500italic - latin_latin-ext */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Albert Sans';
  font-style: italic;
  font-weight: 500;
  src: url('../../fonts/albert-sans/albert-sans-v1-latin_latin-ext-500italic.eot'); /* IE9 Compat Modes */
  src: url('../../fonts/albert-sans/albert-sans-v1-latin_latin-ext-500italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../../fonts/albert-sans/albert-sans-v1-latin_latin-ext-500italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('../../fonts/albert-sans/albert-sans-v1-latin_latin-ext-500italic.woff') format('woff'), /* Modern Browsers */
       url('../../fonts/albert-sans/albert-sans-v1-latin_latin-ext-500italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../../fonts/albert-sans/albert-sans-v1-latin_latin-ext-500italic.svg#AlbertSans') format('svg'); /* Legacy iOS */
}
/* albert-sans-600 - latin_latin-ext */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Albert Sans';
  font-style: normal;
  font-weight: 600;
  src: url('../../fonts/albert-sans/albert-sans-v1-latin_latin-ext-600.eot'); /* IE9 Compat Modes */
  src: url('../../fonts/albert-sans/albert-sans-v1-latin_latin-ext-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../../fonts/albert-sans/albert-sans-v1-latin_latin-ext-600.woff2') format('woff2'), /* Super Modern Browsers */
       url('../../fonts/albert-sans/albert-sans-v1-latin_latin-ext-600.woff') format('woff'), /* Modern Browsers */
       url('../../fonts/albert-sans/albert-sans-v1-latin_latin-ext-600.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../../fonts/albert-sans/albert-sans-v1-latin_latin-ext-600.svg#AlbertSans') format('svg'); /* Legacy iOS */
}
/* albert-sans-600italic - latin_latin-ext */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Albert Sans';
  font-style: italic;
  font-weight: 600;
  src: url('../../fonts/albert-sans/albert-sans-v1-latin_latin-ext-600italic.eot'); /* IE9 Compat Modes */
  src: url('../../fonts/albert-sans/albert-sans-v1-latin_latin-ext-600italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../../fonts/albert-sans/albert-sans-v1-latin_latin-ext-600italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('../../fonts/albert-sans/albert-sans-v1-latin_latin-ext-600italic.woff') format('woff'), /* Modern Browsers */
       url('../../fonts/albert-sans/albert-sans-v1-latin_latin-ext-600italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../../fonts/albert-sans/albert-sans-v1-latin_latin-ext-600italic.svg#AlbertSans') format('svg'); /* Legacy iOS */
}
/* albert-sans-700 - latin_latin-ext */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Albert Sans';
  font-style: normal;
  font-weight: 700;
  src: url('../../fonts/albert-sans/albert-sans-v1-latin_latin-ext-700.eot'); /* IE9 Compat Modes */
  src: url('../../fonts/albert-sans/albert-sans-v1-latin_latin-ext-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../../fonts/albert-sans/albert-sans-v1-latin_latin-ext-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('../../fonts/albert-sans/albert-sans-v1-latin_latin-ext-700.woff') format('woff'), /* Modern Browsers */
       url('../../fonts/albert-sans/albert-sans-v1-latin_latin-ext-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../../fonts/albert-sans/albert-sans-v1-latin_latin-ext-700.svg#AlbertSans') format('svg'); /* Legacy iOS */
}
/* albert-sans-900 - latin_latin-ext */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Albert Sans';
  font-style: normal;
  font-weight: 900;
  src: url('../../fonts/albert-sans/albert-sans-v1-latin_latin-ext-900.eot'); /* IE9 Compat Modes */
  src: url('../../fonts/albert-sans/albert-sans-v1-latin_latin-ext-900.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../../fonts/albert-sans/albert-sans-v1-latin_latin-ext-900.woff2') format('woff2'), /* Super Modern Browsers */
       url('../../fonts/albert-sans/albert-sans-v1-latin_latin-ext-900.woff') format('woff'), /* Modern Browsers */
       url('../../fonts/albert-sans/albert-sans-v1-latin_latin-ext-900.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../../fonts/albert-sans/albert-sans-v1-latin_latin-ext-900.svg#AlbertSans') format('svg'); /* Legacy iOS */
}



/* Slick Icons */
@font-face {
  font-family: 'slick' !important;
  font-style: normal !important;
  font-weight: normal !important;
  src: url('../../fonts/slick/slick.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../../fonts/slick/slick.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../../fonts/slick/slick.woff') format('woff'), /* Modern Browsers */
       url('../../fonts/slick/slick.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../../fonts/slick/slick.svg#slick') format('svg'); /* Legacy iOS */
}



/* Font Awesome Solid */
@font-face {
  font-family: 'FontAwesome Solid';
  font-style: normal;
  font-weight: normal;
  src: url('../../fonts/FontAwesome/fa-solid-900.eot'); /* IE9 Compact Modes */
  src: local(''),
      url('../../fonts/FontAwesome/fa-solid-900.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
      url('../../fonts/FontAwesome/fa-solid-900.woff2') format('woff2'), /* Super Modern Browsers */
      url('../../fonts/FontAwesome/fa-solid-900.woff') format('woff'), /* Modern Browsers */
      url('../../fonts/FontAwesome/fa-solid-900.ttf') format('truetype'), /* Safari, Android, iOS */
      url('../../fonts/FontAwesome/fa-solid-900.svgFontAwesomeSolid') format('svg'); /* Legacy iOS */
}


/* Font Awesome Brands */
@font-face {
  font-family: 'FontAwesome Brands';
  font-style: normal;
  font-weight: normal;
  src: url('../../fonts/FontAwesome/fa-brands-400.eot'); /* IE9 Compact Modes */
  src: local(''),
      url('../../fonts/FontAwesome/fa-brands-400.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
      url('../../fonts/FontAwesome/fa-brands-400.woff2') format('woff2'), /* Super Modern Browsers */
      url('../../fonts/FontAwesome/fa-brands-400.woff') format('woff'), /* Modern Browsers */
      url('../../fonts/FontAwesome/fa-brands-400.ttf') format('truetype'), /* Safari, Android, iOS */
      url('../../fonts/FontAwesome/fa-brands-400.svg#FontAwesomeBrands') format('svg'); /* Legacy iOS */
}




/* -- Default Classes -- */

body {
  font-family: "Albert Sans", sans-serif;
  font-size: 1.8rem;
  line-height: 2.6rem;
  color: $color-gray;
  hyphens: auto;
  hyphenate-limit-chars: auto 3;
  hyphenate-limit-lines: 4;
  -webkit-hyphens: auto;
  -webkit-hyphenate-limit-chars: auto 3;
  -webkit-hyphenate-limit-lines: 4;
  -ms-hyphens: auto;
  -ms-hyphenate-limit-chars: auto 3;
  -ms-hyphenate-limit-lines: 4;
}


h1 {
  font-family: "Albert Sans", sans-serif;
  font-weight: 800;
  font-weight: 400;
  font-size: 4.2rem;
  line-height: 4.2rem;
  color: $color-primary;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-top: 2.5rem;
  margin-bottom: 1.5rem;
  text-indent: -999999px;

  @include atMedium {
    font-size: 3.8rem;
    line-height: 3.8rem;
  }
}


.single h1 {
  text-indent: initial;
}


h2 {
  font-family: "Albert Sans", sans-serif;
  font-weight: 500;
  font-size: 3.8rem;
  line-height: 3.8rem;
  color: $color-primary;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-top: 2.5rem;
  margin-bottom: 3.5rem;

  @include atMedium {
    font-size: 4.2rem;
    line-height: 4.2rem;
    margin-bottom: 4.2rem;
  }
}


h2 > .smaller {
  font-size: 2.4rem;
  line-height: 2.4rem;
  text-transform: initial;

  @include atMedium {
    font-size: 2.6rem;
    line-height: 2.6rem;
  }
}


h2 > .smallest {
  position: absolute;
  font-size: 1.6rem;
  line-height: 1.0rem;
  text-transform: initial;
  letter-spacing: 0.15rem;
  margin-top: 1.0rem;

  @include atMedium {
    font-size: 1.8rem;
    line-height: 1.0rem;
    margin-top: 1.0rem;
  }
}


h2.deeper {
  width: 60%;
  position: absolute;
  z-index: 100;
  margin-top: 5.0rem;

  @include atMedium {

  }
}



h3 {
  font-family: "Albert Sans", sans-serif;
  font-weight: 400;
  font-size: 2.2rem;
  line-height: 2.2rem;
  color: $color-primary;
  margin-bottom: 2.2rem;

  @include atMedium {
    font-size: 2.6rem;
    line-height: 2.6rem;
    margin-bottom: 2.6rem;
  }
}


h4 {
  font-family: "Albert Sans", sans-serif;
  font-weight: 500;
  font-size: 2.6rem;
  line-height: 3.2rem;
  color: $color-gray;
  text-decoration: underline;
}

p {
  font-family: "Albert Sans", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2.8rem;
  letter-spacing: 0.5px;
  margin-bottom: 1.0rem;

  @include atMedium {
    font-size: 1.8rem;
    line-height: 3.2rem;
  }
}


p.text-center {
  position: relative;
  display: block;
  max-width: 80%;
  width: auto;
  margin: 25px auto;
  margin-top: 5%;
  padding: 15px;
}


p.text-center > a {
  font-weight: 600;
  color: $color-gray;
}



a {
  color: $color-gray;
}

strong {
  font-size: 2.0rem;
  line-height: 3.0rem;
  color: $color-primary;
  font-weight: 700;
}


em {
  font-size: 1.5rem;
  line-height: 1.5rem;
  font-weight: 400;
}

.cite--yellow > p {
  font-family: "Albert Sans", sans-serif;
  font-weight: 900;
  font-size: 5.4rem;
  line-height: 5.0rem;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: $color-yellow;
  margin-top: -1rem;
  margin-left: 3.0rem;
}


.cite--yellow > p:before {
  content: '„';
  font-family: "Albert Sans", sans-serif;
  font-size: 8.5rem;
  color: $color-yellow;
  margin-left: -3.0rem;
  padding-right: 1.0rem;
}


.cite--yellow cite {
  font-family: "Albert Sans", sans-serif;
  font-weight: 600;
  font-size: 2.6rem;
  line-height: 3.2rem;
  letter-spacing: 4px;
  color: $color-yellow;
  margin-bottom: 1.0rem;
}





em.notice {
  font-size: 1.5rem  !important;
  line-height: 1.5rem !important;
}